.grid {
  // padding: 0 1em;
}

@media screen and (min-width: $tablet){

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
  }

  [class*='col-'] {
    padding-left: 2em;
  }

  .col-1-of-1 {
    flex: 0 0 100%;
  }

  .col-1-of-3 {
    flex: 0 0 33.333333%;
  }

}